.unnamed1 {
	font-family: verdana;
	font-size: 12px;
	color: #000000;
	font-style: normal;
	font-weight: bold;
}
.unnamed2 {
	font-family: verdana;
	font-size:11px;
	color: #666666;
	font-style: normal;
	font-weight: normal;
	
}
.unnamed3 {
	font-family: verdana;
	font-size: 12px;
	color: #333333;
	font-style: normal;
	font-weight: bold;
	
}
.unnamed4 {
	font-family: verdana;
	font-size: 11px;
	color:#CB6038 ;
	font-style: normal;
	font-weight: normal;
	}
	.unnamed5 {
	font-family: verdana;
	font-size: 15px;
	color:#000000;
	font-style: normal;
	font-weight: bold;
}
	.DK {
	font-family: verdana;
	font-size: 12px;
	color: #FF6600;
	font-style: normal;
	font-weight: bold;
}
	
	.DK1 {
	font-family: verdana;
	font-size: 12px;
	color: #999999;
	font-style: normal;
	font-weight: bold;
}
	
.l a
{  font-family: verdana;
	font-size:11px;
	color: #666666;
	font-style: normal;
	font-weight: bold;
	text-decoration:none;
	}	
.hw{margin-left:-80px;}
.wp{margin-left:-80px;}
